<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITElite.Projects.WPF.Controls.AvalonEditExtend" version="1.0.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="1.5.0.523" targetFramework="net461" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.11" targetFramework="net461" />
  <package id="NAudio" version="1.9.0-preview1" targetFramework="net461" />
  <package id="OpenTK" version="3.0.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.0" targetFramework="net461" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net461" />
  <package id="SharpGL.WPF" version="2.4.0.0" targetFramework="net461" />
  <package id="WpfGlslControl" version="0.3.18" targetFramework="net461" />
  <package id="WpfOpenGlControl" version="0.3.18" targetFramework="net461" />
  <package id="Zenseless.Base" version="0.5.52" targetFramework="net461" />
  <package id="Zenseless.Geometry" version="0.5.52" targetFramework="net461" />
  <package id="Zenseless.HLGL" version="0.5.52" targetFramework="net461" />
  <package id="Zenseless.OpenGL" version="0.5.52" targetFramework="net461" />
</packages>