<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITElite.Projects.WPF.Controls.AvalonEditExtend" version="1.0.0" targetFramework="net461" />
  <package id="NAudio" version="1.9.0-preview1" targetFramework="net461" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net461" />
  <package id="SharpGL.WPF" version="2.4.0.0" targetFramework="net461" />
</packages>